.team-name {
    font-weight: 600;
}

.team-count-members {
    width: 50px;
    font-size: 12px;
    line-height: 18px;
    color: #949494;
    margin-left: auto;

    &::before {
      content: "";
      width: 20px;
      display: inline-block;
      background-image: url(../../../../images/groups.svg);
      height: 15px;
      background-size: 20px 20px;
      opacity: 0.6;
      background-repeat: no-repeat;
      padding-left: 3px;
    }
}

.team-percentage-absent {
    font-size: 12px;
    line-height: 18px;
    padding: 1px 5px;
    color: #fff;
    border-radius: 2px;
}

.team-hide {
    background-image: url(../../../../images/arrowUp.svg);
    width: 20px;
    height: 20px;
}