.team-header, .team{
    display: flex;
    justify-content: center;
}

.team {
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.team-header, .team-members {
    
    &.frontend {
        border-left: 3px solid #9B99FF;
    }

    &.backend {
        border-left: 3px solid #7AAFFF;
    }

    &.managers {
        border-left: 3px solid #FF9999;
    }

    &.designers {
        border-left: 3px solid #FFA768;
    }
}

.member {
    display: flex;
    border-left: 0px;
    
}
