<div class="team">
    <div class="team-header">
        <table-cell>
            <table-team-info 
                [teamName] = "this.teamData.name" 
                [countMembers] = "this.teamData.members.length" 
                [percentageOfAbsent] = "this.teamData.percentageOfAbsent[this.monthNumber]"
                (onHide)="hideTeam($event)">
            </table-team-info>
        </table-cell>
        <table-cell [date]="day" className="cell" *ngFor="let day of this.monthDays"></table-cell>
        <table-cell className="cell sum-cell">
        </table-cell>
    </div>
    <div class="team-members" *ngIf="!isTeamHidden">
        <div class="member" *ngFor="let member of this.teamData.members">
            <table-cell className = "team-info cell">
                {{member.name}}
            </table-cell>
            <table-cell 
                [date]="day" className="cell" 
                *ngFor="let day of this.monthDays">
            </table-cell>
            <table-cell className="cell sum-cell">
            </table-cell>
        </div>
    </div>
</div>
