.header-cell, .cell {
    width: 19px;
    height: 55px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(126, 126, 126, 0.3);
    padding: 0px 2px;
    font-size: 13px;
}

.add-vacation-cell {
    width: 190px;
    justify-content: flex-start;
    align-items: flex-start;
    border-top: none;
    border-left: none;
    height: 56px;
}

.team-info {
    width: 183px;
    padding-left: 8px;
    justify-content: flex-start;
    font-size: 11px;
}

.cell {
    height: 30px;
    position: relative;
}

.sum-cell {
    width: 24px;
}

.weekend {
    background-color: #F0F0F0;
}

.vacation {
    position: absolute;
    height: 30px;
    background-color: tomato;
    left: 0;
    z-index: 2;
    border-radius: 5px;
}

.paid {
//     height: 30px;
//     width: 30px;
//     z-index: 4;
//     color: #fff;
//     border-radius: 5px;
    background-color: violet;
  }

  .unpaid {
//     border: 1px solid #000;
//     width: 30px;
//     height: 28px;
//     z-index: 4;
//     border-radius: 5px;
background-color: yellow;
  }