<div class="table">
    <div class="table-header">
        <table-cell className="header-cell add-vacation-cell">
            <button class="add-vacation">+Add Vacation</button>
        </table-cell>
        <table-cell className="header-cell" *ngFor="let day of this.monthDays">
            <p class="week-day"> {{day | date: 'EEEEEE'}}</p>
            <p class="month-day">{{day | date: 'd'}}</p>
        </table-cell>
        <table-cell className="header-cell sum-cell">
            <span>Sum</span>
        </table-cell>
    </div>
    <div class="table-body">
       <table-team *ngFor="let team of this.teamsData" [teamData]="team" [date]="this.date"></table-team>
    </div>
</div>
