.table {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.table-header, .table-body, .table-footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.summary {
    width: 100%;
}

.table-header {
    flex-wrap: nowrap;
}

p {
    margin: 0px;
    width: 100%;
    text-align: center;
}

.month-day {
    font-weight: bold;
}

.add-vacation {
    width: 130px;
    height: 35px;
    background: #48ba46;
    border-radius: 7px;
    outline: none;
    border: none;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}


