.table {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.table-header, .table-body, .table-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.table-footer{
    flex-direction: column;
}
.footer{
    display: flex;
}

.summary {
    display: flex;
    margin-bottom: 15px;
    flex-wrap: wrap;
    justify-content: flex-start;

    h4 {
        border-bottom: 1px solid rgba(126, 126, 126, 0.3);
    }

    p {
        text-align: left;
    }
}

.vacations-people {
    padding: 0px 5px;

    &::before {
        content: "";
        width: 18px;
        display: inline-block;
        background-image: url(../../images/groups.svg);
        height: 13px;
        background-size: 16px 16px;
        opacity: 0.6;
        background-repeat: no-repeat;
    }
}

.vacations-people-percentage {
    background-color: #48BA46;
    color: #fff;
    border-radius: 3px;
    padding: 1px 2px;
}

.table-header {
    flex-wrap: nowrap;
}

p {
    margin: 0px;
    width: 100%;
    text-align: center;
}

.month-day {
    font-weight: bold;
}

.add-vacation {
    width: 130px;
    height: 35px;
    background: #48ba46;
    border-radius: 7px;
    outline: none;
    border: none;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}


